@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
@tailwind base;
@layer base{
  body{
    background: url(./images/home/background-home-mobile.jpg) center/cover no-repeat;
    @apply text-white;
    min-height: 100dvh;
    font-family: 'Bellefair', serif;
   
  }
  @media screen and (min-width:768px){
    body {
      background: url(./images/home/background-home-tablet.jpg) center/cover no-repeat;
    }
  }
  @media screen and (min-width:1280px){
    body {
      background: url(./images/home/background-home-desktop.jpg) center/cover no-repeat;
    }
  }
}

@tailwind components;
@tailwind utilities;